/* setup basic CSS style with colors original jeopardy uses
import google font, 
style body, game id, and card correct answers incorrect answer and button */


@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(4, 21, 255); 
  background-image: url('.vscode/th-3531393012');
  background-size: cover;
  color: rgb(255,255,255);
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
}

#game {
    display:flex;
    text-align:center;
}

.card {
    width: 185px;
    height: 140px;
    background-color: rgb(14, 14, 247);
    border-radius: 20px;
    border: solid yellow 5px;
    text-align: center;
    font-size:100px;
    margin: 5px;
    padding: 10px;
}
.correct-answer {
  background-color: #10d84c;

}

.wrong-answer {
  background-color: #ce0f0f;

}

.true-button {
  background-color: #63b36e;
  border-radius: 5px;
  font-size: 10000;
}

.false-button {
  background-color: #aa231e;
  border-radius: 5px
}

button {
  background-color: yellow;
  margin: 5px;
  border-radius: 5px
  
}