/* setup basic CSS style with colors original jeopardy uses
import google font, 
style body, game id, and card correct answers incorrect answer and button */


@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(4, 21, 255); 
  background-image: url('.vscode/th-3531393012');
  background-size: cover;
  color: rgb(255,255,255);
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
}

#game {
    display:flex;
    text-align:center;
}

.table {
    width: 185px;
    height: 140px;
    background-color: rgb(14, 14, 247);
    border-radius: 20px;
    border: solid yellow 5px;
    text-align: center;
    font-size:100px;
    margin: 5px;
    padding: 10px;
}
.correct {
  background-color: #10d84c;
  text-align: center;
  /* background-image: url('.vscode/th-4256852094'); */
  font-size:100px;
 
}

.wrong {
  background-color: #ce0f0f;
  /* background-image: url('.vscode/tryAgain'); */
}

.true {
  background-color: #63b36e;
  border-radius: 5px;
  font-size: 10000;
}

.false {
  background-color: #e81109;
  border-radius: 5px
}

button {
  background-color: rgb(14, 14, 247);;
  margin: 5px;
  color: rgb(255,255,255);
  border-radius: 5px;
  border: solid yellow 2px;
  
}
/* .data-value, .correct {
font-size: 100px;
} */
@keyframes celebration {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes confetti {
  0%, 100% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-10px) rotate(5deg);
  }
  50% {
    transform: translateY(-20px) rotate(0deg);
  }
  75% {
    transform: translateY(-10px) rotate(-5deg);
  }
}
@keyframes wrongAnimation {
  0% {
    background-color: #ce0f0f;
  }
  50% {
    background-color: #f00; /* You can add additional keyframes for different visual effects */
  }
  100% {
    background-color: #ce0f0f;
  }
}
.celebration, .confetti, .correct {
  animation: celebration 1s ease-in-out;
}
.wrongAnimation, .wrong {
  background-color: #ce0f0f;
  animation: wrongAnimation 1s;
}